<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.itbarxproject"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="preferExternal"
    android:versionCode="3"
    android:versionName="3.0">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16"/>

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!--
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
        <uses-permission android:name="android.permission.CAMERA" >
            <uses-feature android:name="android.hardware.camera" android:required="true" />
        <uses-feature android:name="android.hardware.camera.autofocus" />
        <uses-feature
            android:name="android.hardware.camera.front"
            android:required="false" />
    </uses-permission>
    -->
    <uses-feature android:name="android.hardware.camera.front"/>
    <uses-feature android:name="android.hardware.microphone"/>

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name=".application.ItbarxGlobal"
        android:allowBackup="true"
        android:icon="@drawable/logo_512"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar">
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.CreateNewAccountActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.ForgotPasswordActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.UserAgreementActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.MediaRecorderActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.MediaPreviewActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.NewUserDoneActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.BarkActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.OtherUserActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity
            android:name=".activity.MediaPublishActivity"
            android:screenOrientation="portrait">
        </activity>
        <!-- TAB AND TAB ACTIVITIES -->
        <activity
            android:name=".activity.TabContainer"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.T_HomeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.T_SecondActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.T_RecordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.T_SearchActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.T_ProfileActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ReplyRecordActivity"
            android:screenOrientation="portrait"/>
        <!--TEST DEBUG-->
        <activity android:name=".exception.ExceptionActivity"
            android:screenOrientation="portrait"/>


        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />
    </application>

</manifest>
